nav{
	background-color: transparent;
	color: white;
	box-shadow: none;
	a{
		color: white;
		text-decoration: none;
	}
	.HeaderCont{
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
		 

}

header{
	background-color: rgba($color: #000000, $alpha: 0.5);
	padding: 30px 0;
	width: 100%;
	@include pos($top:0, $z:9)
}

.HeaderCont{
	display: flex;
	
	.logo{
		width: 20%;
		span{
			@extend %hidden;
		}
		&:hover{
			opacity: 0.8;
		}
	}
	.links{
		width: 70;
		ul{
			display: flex;
			li{
				padding:  0 15px;
			}
		}
	}
}

.search{
	background-color: $primary_color;
}

.search-bar{
	background-color: $primary_color;
	width: 100%;
	height: 200px;
	margin-top: -50px
}

.main-quad{
	justify-content: space-between;
}


