.wrapper{
    margin: 0 auto;
    max-width: 1500px;
    width: 100%;

}

.flex-row{
    display: flex;
    @media(max-width:768px){
       flex-wrap: wrap;
    } 
}


.img-responsive{
    width: 100%;
    height: auto;
}
.sliderTr{
    .image-gallery{
        height: 400px;
    } 
}

.image-gallery-thumbnails{
    display: none;
}

.content{
    margin-top: 150px;
}

.container{
    max-width: 1170px;
    padding-left:15px;
    padding-right: 15px;
    margin:0 auto;
    @media(max-width:768px){
        padding-left:0px;
        padding-right: 0px;
    }
     
}