$primary_color: #275fa9 ;
$primary_color_light: #88cae6;
$yellow:#ebce04;
$grey: #98a8bf;
$secondary_color:#121621;
$white:#ffffff;
$txt_color: #121621;

$primary_font: 'Abel', sans-serif;
$secondary_font: 'Encode Sans Condensed', sans-serif;


$browser-context: 16px;


